<!doctype html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details</title>
</head>
<body>
<div class="container">
  <div th:replace="navbar"></div>
  <th:block th:if="${product != null}">
      <table class="table">
          <thead>
          <tr>
              <th scope="col">Image</th>
              <th scope="col">Short Detail</th>
              <th scope="col">Detail</th>
          </tr>
          </thead>
          <tbody>
              <th scope="row">
              <td><img th:src="@{${'/getImage/'+ product.pid}}"
                       class="card img-fluid" style="width:300px" alt=""/></td>
              </th>
              <td th:text="${product.getShortDetail()}"></td>
              <td th:text="${product.getDetail()}"></td>
          </tr>
          </tbody>
      </table>
  </th:block>
</div>
</body>
</html>