<!doctype html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
</head>
<body>
<div class="container">
  <div th:replace="navbar"></div>
    <th:block th:if="${product == null}">
        <div>
            <h2 th:text="${'Search : '+q}"></h2>
        </div>
        <div class="text-center">Not Found !</div>
    </th:block>
    <th:block th:if="${product != null}">
        <div>
            <h2 th:text="${'Search : '+q}"></h2>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Image</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,iter :${product}">
                <th scope="row" th:text="${item.title}"></th>
                <td th:text="${item.price}"></td>
                <td th:text="${item.stock}"></td>
                <th scope="row">
                <td><img th:src="@{${'/getImage/'+ item.pid}}"
                         class="card img-fluid" style="width:300px" alt=""/></td>
                </th>
                <td>
                    <a th:href="${'/detail/'+item.pid}" role="button" class="btn btn-primary btn-sm">Details</a>
                </td>
            </tr>

            </tbody>
        </table>
        <th:block th:if="${product.getTotalElements() > 10}">
            <ul class="pagination pagination-sm">
                <th:block th:each="i : ${#numbers.sequence(0,product.getTotalPages()-1)}">
                    <li class="page-item" th:classappend="${i == product.getPageable().getPageNumber() ? 'active' : ''}">
                        <a class="page-link" th:href="${'?page='+i}" th:text="${i+1}"></a>
                    </li>
                </th:block>
            </ul>
        </th:block>

    </th:block>
</div>
</body>
</html>